body{
    --color-purple-100: rgb(237, 206, 246);
    --color-purple-500: rgb(126, 51, 147);

    background-color: var(--color-purple-100);
}

header{
    background-color: var(--color-purple-500);
    color: white;

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    text-align: center;
    font-family: sans-serif;
}

#title-card{
    margin: 3rem auto;
}